<div class="container">
  <div class="span8 offset2">
    <h1><%= @club.name %></h1>
    <table class="table table-striped table-condensed">
      <thead>
      <th>Setting</th>
      <th>Value</th>
      </thead>
      <tbody>
        <% @club.attributes.each do |attr_name, attr_val| %>
        <tr>
          <td><%= attr_name %></td>
          <td class="club_edit"><%= attr_val %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to "Generate SSO Token", tokens_path, method: 'create', class: 'btn-large btn-primary' %> <br>
  </div>
</div>



