<ul class="thumbnails">
  <li class="span2">
    <a href="http://www.providencebicycle.com" class="thumbnail">
      <img src="/assets/provbike.jpg" alt="">
    </a>
  </li>
  <li class="span2">
    <a href="http://www.foundationperformance.com" class="thumbnail">
      <img src="/assets/fp.JPG" alt="">
    </a>
  </li>
  <li class="span2">
    <a href="http://www.nancygillooly.com" class="thumbnail">
      <img src="/assets/nancy.JPG" alt="">
    </a>
  </li>
</ul>