<div class="row">
  <div class="span12">
    <h2>Profile for <%= current_user.name %></h2>
    <%= form_for @profile do |f| %>
    <%= render 'fields', :f => f %>
    <% end %>
  </div>
</div>

