<% provide(:title, @forum.name) %>


      <div class="center hero-unit">
        <h1>
          <%= @forum.name %> Forum
        </h1>
        <h2><%= @forum.description %></h2>
        <%= link_to "Create New Topic", '#', class: "btn btn-large btn-primary" %>

      </div>

