<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->

<% provide(:title, "Calendar of Events") %>



<h2><%= current_user.club.name %> Calendar of Events</h2>

<div id='calendar'></div>

<div class="span2">
  <br>
  <% if current_user.admin || current_user.email == "mhatch73@gmail.com"%>
      <%= link_to "new event", new_event_path, id: "btnNewEvent", class: "btn btn-mini btn-info" %>
  <% end %>
  <br>
</div>

