<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/rp_Banner_triNE_blur.png" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Community</h1>
          <p class="lead">The Triathlon Club of New England (Tri-NE) was established in 2010 to serve
            the growing population of multi-sport athletes in Rhode Island and Southeastern
            Massachusetts and create a community of teamwork, support and training for beginner
            to intermediate triathletes.</p>
          <a class="btn btn-large btn-primary" id="signup" href="https://tri-ne.rhodeproject.com/">Sign up today</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/assets/bw_kona_start.png" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Fun</h1>
          <p class="lead">The Triathlon Club of New England (Tri-NE) was established in 2010 to serve
            the growing population of multi-sport athletes in Rhode Island and Southeastern
            Massachusetts and create a community of teamwork, support and training for beginner
            to intermediate triathletes.</p>
          <a class="btn btn-large btn-primary" href="https://tri-ne.rhodeproject.com/">Sign up today</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/assets/RP_Drop_Shadow.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Strength</h1>
          <p class="lead">The Triathlon Club of New England (Tri-NE) was established in 2010 to serve
            the growing population of multi-sport athletes in Rhode Island and Southeastern
            Massachusetts and create a community of teamwork, support and training for beginner
            to intermediate triathletes.</p>
          <a class="btn btn-large btn-primary" href="https://tri-ne.rhodeproject.com/">Sign up today</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->



