<% @notices.each do |n| %>
    <span class="content">
        <%= n.content %>
    </span>
    <span class="timestamp">
        <%= time_ago_in_words(n.created_at) %> ago
    </span>
    <hr>
<% end %>
<%= link_to '[see all notices...]', notices_path %>
<hr>
