<% if current_user.club.has_sponsors? %>
<h5><%= current_user.club.name %> Sponsors</h5><br>
<div class="span2" id="sponsors">
  <% @sponsors.each do |s| %>
      <% if s.image_name? %>
          <!--if the image starts with http then -->
          <%= image_tag(s.image_path, :height => '90', :width => '120', :alt => s.url, :class =>"sponsorLink") %>
      <% else %>
        <%= link_to s.name, s.url %>
      <% end %>
  <% end %>
</div>
<% end %>