
<h5><%= current_user.club.name %> Sponsors</h5><br>
<div class="span2" id="sponsors">
 <img class="sponsorLink" src="/assets/nancy.JPG" width="120" height="90" alt="http://www.nancygillooly.com">
 <img class="sponsorLink" src="/assets/fp.JPG" width="120" height="90" alt="http://www.foundationperformance.com/">
 <img class="sponsorLink" src="/assets/provbike.jpg" width="120" height="90" alt="http://providencebicycle.com/">
</div>
