<%= form_for(@topic) do |f| %>
    <div class="field">
      <%= f.text_field :name, placeholder: "topic name..." %>
    </div>
    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>