<% provide(:title, @topic.name) %>

<div class="row">
  <div class="span6 offset3">
    <% form_for @topic do |f| %>

        <%= f.label :name %><br />
        <%= f.text_field :name %>

        <textarea cols="80" rows="20"></textarea>

        <%= f.submit "Create" %>
    <% end %>
  </div>
</div>