<div id="contact">
    <form>
      <label>Name</label><input name="contactName" id="contactName" />
      <label>Email</label><input name="contactEmail" id="contactEmail" />
      <label>Message:</label>
      <textarea id="contactMessage" rows="10" cols="20"></textarea>
    </form>
</div>