<footer class="footer">

  <small>
    <%= render 'shared/quote' %>
  </small>
  <nav>
    <ul>
      <li>
        <%= link_to "Sign out", signout_path, method: "delete" %>
      </li>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>

</footer> <br>
<footer class ="footer">
  <nav><ul><li>
    <span id="siteseal">
      <script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=EuE26wIsRcXN30ieQzblDspcFRKdKsnCDDAbc3Vr0zuQiWUCuGV31usqBrq"></script></span>
  </li></ul></nav>

</footer>