<footer class="footer">

  <small>
    <%= render 'shared/addthis_follow' %>
  </small>
  <nav>
    <ul>
      <li class="text-shadow"><%= link_to "Help", '/help' %></li>
      <li class="text-shadow"><%= link_to "About",   '/about' %></li>
      <li class="text-shadow"><%= link_to "Contact", '#', :id => "linkContact" %></li>
    </ul>
  </nav>

</footer> <br>
